[Unit]
Description=Flanneld overlay address etcd agent
After=network.target
Before=docker.service

[Service]
User=root
Type=notify
ExecStartPost=/usr/bin/mk-docker-opts.sh -c
ExecStart=/usr/bin/flanneld -etcd-endpoints="http://192.168.0.10:2379" -etcd-prefix="/atomic.io/network" -iface=ens33
Restart=on-failure

[Install]
WantedBy=multi-user.target
RequiredBy=docker.service

