# 记得修改-etcd-endpoints参数（etcd服务器地址）和-iface参数（网卡名称，通过ifconfig查看）
[Unit]
Description=Flanneld overlay address etcd agent
After=network.target

[Service]
User=root
Type=notify
ExecStart=/usr/bin/flanneld -etcd-endpoints="http://192.168.0.10:2379" -etcd-prefix="/atomic.io/network" -iface=ens33
Restart=on-failure

[Install]
WantedBy=multi-user.target

